/*
 * Default font size of themes provided by primefaces are bigger than expected to change the font-size of PrimeFaces
 * components globally, use the .ui-widget style class
*/
.ui-widget,.ui-widget .ui-widget {
	font-size: 90% !important;
}
body {
    background: url("../img/bgslider.png") repeat scroll 0 0 #FFFFFF !important;
}

label.defaultSize{
	width:130px;
	display: inline-block;
}
.ui-editor {
	width: 99.5% !important;
 }

/*
 * Template
 */
div.anglobante{
	width:90%;
	background: none repeat scroll 0 0 transparent;
	margin: 0 auto;
}
img.headerLogo{
	margin-bottom: 7px;
    margin-top: 7px;
    width: 200px;
}
img.headerQuit{
    margin-top: 7px;
    width: 30px;
    float: right;
}

/*
 * Login page
 */
fieldset.connexion{
	width:450px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-135px 0 0 -250px;
}
label.connexionLabel{
	width:150px;
	display:block;
	font-weight:bold;
}
input.connexionInput{
	width:200px;
	display:block;
}

/*
 * Accueil administration
 */
button.accueilGlobalBtn{
	width:49%;
	height:80px;
}

div.accueilDivEditor{
	left: 10%;
    position: absolute;
}
button.adminBtn{
	background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0 0 #40A1A4 !important; 
	background: -webkit-linear-gradient(rgba(0,0,255,0.7), white) !important;
}
button.comBtn{
	background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0 0 #B78D1A !important; 
	background: -webkit-linear-gradient(rgba(238,118,0,0.7), white) !important;
}
/*
 * Ajout Client
 */
 .ajoutClientInput{
 	width:150px;
 }
 